%h1 Редактирование товара
= form_for @item do |f|
  = render partial: "form", locals: { f: f }
  = f.submit "Сохранить"
  = link_to "Удалить", item_path(@item),     |
    method: :delete, data: { confirm: "Уверены?" } |
= link_to 'Назад', items_path