<h1>Редактирование товара</h1>
<%= form_for @item do |f| %>
<%= render partial: "form", locals: { f: f } %>
<%= f.submit "Сохранить товар" %>
<%= link_to "Удалить товар", item_path(@item),
method: :delete, data: { confirm: "Уверены?" } %>
<% end %>

<%= link_to 'Назад', items_path %>