<!DOCTYPE html>
<html>
<head>
  <title>Musthave4us</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="span9"<%= yield %></div>
    <div class="span3"></div>
      <h2>About Us</h2>
      asdfsdfasfd jkdsafnbjksdalnbnf kjbjdasbf jkadsbfkjabsdfkjasbd
      dsafjbna;kwsdlsfjnjsa k;jldsjwsbf d;k;lfjb asdjf
      dsafsjkadfnadsjklnfdsa nf
    </div>
  </div>    
</div>

</body>
</html>
